.welcome-message {
    font-size: 2.5em;
    background-color: rgb(22, 99, 44);
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login-prompt{
    font-size: 2.5em;
    background-color: rgb(188, 22, 22);
    color:rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}